* {
  box-sizing: border-box;
}

body {
  background: url("./images/xmasBackground.jpg");
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

button,
input {
  font-family: "Rubik", sans-serif;
}

h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: #0dabdb;
  text-shadow: 2px 2px #0a5bb2;
  opacity: 1;
}

h1 span:first-child {
  background: white;
  /*opacity: 0.7;*/
  border: 5px solid #0a5bb2;
  border-radius: 10px;
  padding: 5px;
  background: #ffffff;
}

.instructions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 420px;
  height: 560px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  background: #ffffff;
  border: 10px solid #0a5bb2;
  border-radius: 10px;
  opacity: 1;
  font-size: 16px;
}

.instructions span {
  font-weight: bold;
}

.instructions img {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
}

.instructions p:nth-of-type(4) img {
  height: 50px;
  width: 30px;
  margin: 0 10px 0 10px;
}

.instructions p:nth-of-type(5) img {
  height: 50px;
  width: 30px;
  margin: 0 10px 0 10px;
}

.instructions .proceed {
  padding: 10px;
  margin: 20px;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  background: #0dabdb;
  border: 2px solid #0a5bb2;
  color: #ffffff;
  text-shadow: 2px 2px #0a5bb2;
}

.instructions .proceed:hover {
  border: 2px solid orange;
  background: orange;
  color: white;
  cursor: pointer;
}

.character-menu {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 350px;
  margin: 50px auto;
  text-align: center;
  background: #ffffff;
  border: 10px solid #0a5bb2;
  border-radius: 10px;
  opacity: 0;
}

.character-button img {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

.character-button {
  height: 100px;
  width: 60px;
  font-size: 15px;
  font-weight: bold;
  background: url("./images/cartoonSanta.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 70px;
  border: none;
  display: block;
}

.character-button:hover {
  color: orange;
  border: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.elf-button {
  background: url("./images/elf-image.jpg");
  background-size: 100px;
  background-position: top center;
  background-repeat: no-repeat;
}

/*divs where game is played*/

.game-board {
  border: 1px solid black;
  flex-wrap: wrap;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  display: none;
}

.game-board div {
  border: 1px solid black;
  width: 10%;
  height: 10%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.5;
}

.die-div {
  display: none;
  width: 500px;
  height: 80px;
  margin: 20px auto;
  align-items: center;
  background: #d3e8ff;
  opacity: 0; /*gets animated in*/
  border-radius: 10px;
  border: 5px solid #0a5bb2;
}

/*logs display occurances of game */

.logs {
  height: 50px;
  width: 400px;
  margin-bottom: 27px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  /*z-index: 3;*/
}

/* gamelog text colors depending on character */

.red {
  color: #e50620;
}

.green {
  color: #269e14;
}

.die {
  width: 80px;
  height: 50px;
  margin-top: 4px;
  background: url("./images/die.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.die:hover {
  width: 78px;
  height: 48px;
  cursor: pointer;
}

.die:active {
  width: 85px;
  height: 55px;
  cursor: default;
}

.winner-div {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.5px solid #0a5bb2;
  border-radius: 10px;
  background: #ffffff;
  opacity: 0;
  color: #e50620;
  text-shadow: 1px 1px black;
  margin: 12px auto;
  text-align: center;
  width: 300px;
  height: 50px;
  left: 500px;
  display: none;
}

.play-again {
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  background: #0dabdb;
  border: 2px solid #0a5bb2;
  color: #ffffff;
  text-shadow: 2px 2px #0a5bb2;
}

.play-again:hover {
  border: 2px solid orange;
  background: orange;
  color: white;
  cursor: pointer;
}

/*makes game visible - needs to be below elements*/
.visible {
  display: flex;
}

/*square types*/

/*square 52 + all other candycanes*/
.candy-cane-img {
  width: 40px;
  height: 280px;
  position: absolute;
  transform: rotate(-60deg);
  left: 290px;
  z-index: 1;
  opacity: 0.9;
}

/*square 78*/
.candy-cane-img2 {
  left: 110px;
  transform: rotate(-20deg);
  height: 140px;
}

/*square 3*/
.candy-cane-img3 {
  top: 260px;
  left: 125px;
  transform: rotate(15deg);
  width: 50px;
  height: 200px;
}

/*square 40*/
.candy-cane-img4 {
  left: 55px;
  transform: rotate(30deg);
  height: 200px;
  top: 130px;
}

/*square 69*/
.candy-cane-img5 {
  bottom: 55px;
  height: 260px;
  transform: rotate(0deg);
  left: 410px;
}

/* square 97 + all other chimneys */
.chimney-img {
  position: absolute;
  width: 40px;
  height: 250px;
  left: 150px;
  z-index: 1;
  opacity: 0.9;
}

/*square 93*/
.chimney-img2 {
  position: absolute;
  transform: rotate(30deg);
  width: 40px;
  height: 180px;
  left: 300px;
}

/*square 90*/
.chimney-img3 {
  position: absolute;
  width: 40px;
  height: 180px;
  left: 450px;
  top: 50px;
}

/*square 60*/
.chimney-img4 {
  position: absolute;
  transform: rotate(-30deg);
  width: 40px;
  height: 130px;
  left: 35px;
  top: 180px;
}

/*square 54*/
.chimney-img5 {
  position: absolute;
  width: 40px;
  height: 230px;
  left: 300px;
  top: 200px;
}

div.coals {
  background: url("./images/coal.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

div.presents {
  background: url("./images/cartoonPresent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
}

/*player character images*/

div.santa {
  background: url("./images/santasanta.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  opacity: 0.9;
  border: 3px solid red;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px white;
}

div.elf {
  background: url("./images/elf-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  opacity: 0.9;
  border: 3px solid green;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px white;
}

div.contested-square {
  border: 4px solid orange;
  color: orange;
  text-shadow: 2px 2px black;
}
