* {
  box-sizing: border-box;
}

main {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

div {
  border: 1px solid black;
  width: 10%;
  height: 10%x;
}

.player1 {
  background-color: red;
}
