* {
  box-sizing: border-box;
}

main {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  width: 750px;
  height: 750px;
}

div {
  border: 1px solid black;
  width: 10%;
  height: 10%;
}

/*menu div styles*/

.main-menu {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 300px;
  margin: 0 auto;
  margin-top: auto;
}

.character-select-menu {

}

/*divs where game is played*/

 .roll-die-div {

}

.game-board {
}



/*divs display toggles by JS*/

.show {
  display: block;
}

.hide {
  display: none;
}

/*special square type styles*/

.candy-cane {
  background: red;
}


.chimney {
  background: brown;
}


.present {
  background: purple;
}

.coal {
  background: grey;
}


/*player character images*/

.santa {
  background-color: pink;
}

.elf {
  background-color: green;
}

.computer{
  background-color: orange;
}
